h1 {
    color: rgba(109, 20, 25, 0.616);
}

* {
    border: solid;
}
.item{
    background: rgb(255, 0, 212);
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}